<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap" rel="stylesheet">
<section class="banner">
    <img src="assets/imgs/home/bannerbrabo2.png" alt="banner" class="bannerimg">
</section>

<nav class="navbar navbar-expand-lg nvb">
    <a class="navbar-brand carrinho" href="#"><img src="assets/imgs/home/logocar.png" alt="logo" class="logoCar">Produtos(0)</a>
 
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0 ml-auto">
        <label class="lblPesquisa">Pesquisar por Podutro:</label>
        <input class="barraPesquisa" type="search"  aria-label="Search">
        <button class="btnLupa" type="submit"><img alt="lupa" src="assets/imgs/home/lupa.png" class="lupa"></button>
      </form>
    </div>
  </nav>